<template>
  <div id="wrapper">
    <div id="extender">

      <main>
        <input type="text" v-model="nombre_categoria">
        <button @click="insertarCategoria()"> Create </button>
        <br>
        <br>
        <template v-for="categoria of categorias">
          {{ categoria.nombre }} 
          <button @click="eliminarCategoria(categoria)"> X </button>
          <br><br>
        </template>

      </main>
    </div>
  </div>
</template>

<script>
  const sqlhelper = require('../../modules/sqlhelper.js')
  const fs = require("fs")
  const { dialog } = require('electron').remote

  export default {
    name: 'categorias',

    data () {
      return {
        nombre_categoria: "",
        categorias: []
      }
    },

    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },

      insertarCategoria () {
        var self = this;

        var nombre_categoria = this.$data.nombre_categoria
        
        var categoria = {
          nombre: nombre_categoria
        }

        sqlhelper.categorias.insertar( categoria ).then( ()=> {
          self.obtenerCategorias()
        })
        
      },

      obtenerCategorias () {
        var self = this

        sqlhelper.categorias.obtener().then( (categorias) => {
          console.log(categorias)
          self.$data.categorias = categorias
        })
      },

      eliminarCategoria( categoria ) {
        var self = this
        sqlhelper.categorias.eliminar( categoria ).then( () => {
          self.obtenerCategorias()
        })
      }

    },

    mounted () {
      var self = this

      self.obtenerCategorias()
    }
  }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body { font-family: 'Source Sans Pro', sans-serif; }
  textarea {
    width:100%;
    min-height:200px;
  }
  
  button {
    padding:3px 7px;
  }

  input[type="text"]{
    padding:3px 5px;
  }

  img {
    max-width:72vh;
  }

  input[type="checkbox"]{
    -ms-transform: scale(1.7); /* IE */
    -moz-transform: scale(1.7); /* FF */
    -webkit-transform: scale(1.7); /* Safari and Chrome */
    -o-transform: scale(1.7); /* Opera */
    transform: scale(1.7);
    margin:10px;
  }

  .option{
    padding:5px 10px;
    border:0px solid lightgray;
    font-size:14px;
    width:70vw;
    margin-top:1px;
    background:#ededed;
    font-weight:bold;
  }

  .option.red {
    border-color:#ff7070;
    border-width:2px;
    background:#ff8585;
  }

  .option.green {
    background:#7dff86;
    border-width:2px;
    border-color:#66ff71;
  }

  #logo {
    height: auto;
    margin-bottom: 20px;
    width: 420px;
  }


  main > div { flex-basis: 50%; }

  .left-side {
    display: flex;
    flex-direction: column;
  }   



  .welcome {
    color: #555;
    font-size: 23px;
    margin-bottom: 10px;
  }

  .title {
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .title.alt {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .doc p {
    color: black;
    margin-bottom: 10px;
  }

  .doc button {
    font-size: .8em;
    cursor: pointer;
    outline: none;
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
  }

  .doc button.alt {
    color: #42b983;
    background-color: transparent;
  }
</style>
