<template>
  <div id="wrapper">
    <div id="extender">
      <h1> Exámen de práctica </h1><br>
      <b> Tiempo 140 minutos </b> <br><br>
      Estudiante: <input type="text">
      <br>
      <br>
      <main>
        <template v-for="problema of problemas">
          
          <template v-if="!problema.esImagen">
            {{problema.ejercicio}}
          </template>

          <img :src="problema.ejercicio" v-else>

          <template v-for="respuesta of problema.respuestas">
            
            <div class="option" v-if="respuesta.correccion == -1">
              <input type="checkbox"  v-model="respuesta.seleccionada"> 
              {{ respuesta.dato }}
            </div>

            <div class="option" v-if="respuesta.correccion == 3">
              <input type="checkbox" disabled v-model="respuesta.seleccionada"> 
              {{ respuesta.dato }}
            </div>


            <div class="option green" v-if="respuesta.correccion == 1">
              <input type="checkbox" v-model="respuesta.seleccionada"> 
              {{ respuesta.dato }}
            </div>

            <div class="option red" v-if="respuesta.correccion == 0">
              <input type="checkbox" v-model="respuesta.seleccionada"> 
              {{ respuesta.dato }}
            </div>

          </template>
          <br>
          <br>
        </template> 
        <button @click="corregir()"> Corregir </button>
      </main>
    </div>
  </div>
</template>

<script>
  const sqlhelper = require('../../modules/sqlhelper.js')
  const fs = require("fs")
  const { dialog } = require('electron').remote

  export default {
    name: 'examen',
    data () {
      return {
        problemas: []
      }
    },

    methods: {

      open (link) {
        this.$electron.shell.openExternal(link)
      },

      corregir () {
        var problemas = this.$data.problemas
        var errores = 0;
        for ( var iprobl in problemas ) {
          var errorEncontrado = false;
          var respuestaSeleccionada = false;

          var problema = this.$data.problemas[iprobl]

          for ( var respuesta of problema.respuestas ) {
            if ( respuesta.seleccionada ) {
              respuestaSeleccionada = true
              if ( !respuesta.correcta ) {
                if ( !errorEncontrado ) {
                  errores++
                  errorEncontrado = true
                }
                respuesta.correccion = 0
              } else {
                respuesta.correccion = 1
              }
            } else {
              respuesta.correccion = 3
            }
          }

          if ( !respuestaSeleccionada ) {
            errores++
          }

          problema.respuestas = Object.assign({}, problema.respuestas)
        }

        this.$data.problemas = problemas

        console.log("Correctas: "+ (problemas.length - errores) +  "Errores: " +errores )
      }

    },
    mounted () {
      var self = this

      sqlhelper.problemas.obtenerAleatorios().then( function(problemas) {
        for (var problema of problemas) {
          for (var respuesta of problema.respuestas) {
            respuesta.seleccionada = false;
            respuesta.correccion = -1;
          }
        }
        self.$data.problemas = problemas
      })

    }
  }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body { font-family: 'Source Sans Pro', sans-serif; }
  textarea {
    width:100%;
    min-height:200px;
  }
  
  button {
    padding:8px 12px;
  }

  input[type="text"]{
    padding:3px 5px;
  }

  img {
    max-width:100%;
  }

  input[type="checkbox"]{
    -ms-transform: scale(1.7); /* IE */
    -moz-transform: scale(1.7); /* FF */
    -webkit-transform: scale(1.7); /* Safari and Chrome */
    -o-transform: scale(1.7); /* Opera */
    transform: scale(1.7);
    margin:10px;
  }

  .option{
    padding:5px 10px;
    border:0px solid lightgray;
    font-size:14px;
    width:70vw;
    margin-top:1px;
    background:#ededed;
    font-weight:bold;
  }

  .option.red {
    border-color:#ff7070;
    border-width:2px;
    background:#ff8585;
  }

  .option.green {
    background:#7dff86;
    border-width:2px;
    border-color:#66ff71;
  }

  #logo {
    height: auto;
    margin-bottom: 20px;
    width: 420px;
  }


  main > div { flex-basis: 50%; }

  .left-side {
    display: flex;
    flex-direction: column;
  }   



  .welcome {
    color: #555;
    font-size: 23px;
    margin-bottom: 10px;
  }

  .title {
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .title.alt {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .doc p {
    color: black;
    margin-bottom: 10px;
  }

  .doc button {
    font-size: .8em;
    cursor: pointer;
    outline: none;
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
  }

  .doc button.alt {
    color: #42b983;
    background-color: transparent;
  }
</style>
