<template>
  <div id="wrapper">
    <div id="extender">
      
      <main>
        <h2>Formulario </h2> <br>
        <textarea @paste="onPaste" v-if='!formulario.esImagen' v-model="formulario.ejercicio"> </textarea>
        <img :src="formulario.ejercicio" v-else>
        <br>
        <br>
        <h3> Categoria </h3>
        <select v-model="formulario.categoria_seleccionada">
          <option disabled value=''>Please select one</option>
          
          <template v-for='categoria of formulario.categorias'>
            <option :value='categoria.id'> {{categoria.nombre }}</option>
          </template>

        </select>
        <br>
        <br>
        <h3> Respuestas </h3> 
        <br>
        <template v-for="respuesta of formulario.respuestas">
          <input type="text" v-model="respuesta.dato">         
          <input type="checkbox" v-model="respuesta.correcta">

          {{ respuesta }} <br><br>
        </template>
        <br><br>
        <button @click="nuevaRespuesta">Nueva respuesta</button>
        <button @click="reducirRespuestas">Reducir respuesta</button>
              
        <button v-if="!formulario.esImagen" @click="insertImage">Insert image</button>
        <button v-else @click="formulario.esImagen = false; formulario.ejercicio=''"> 
          Remove Image 
        </button>

        <button @click="guardarDatos"> Guardar </button>
      </main>

    </div>
  </div>
</template>

<script>
  import SystemInformation from './LandingPage/SystemInformation'
  const sqlhelper = require('../../modules/sqlhelper.js')
  const fs = require("fs")
  const { dialog } = require('electron').remote
  var ipcRenderer = require('electron').ipcRenderer

  const helper = require('../../modules/Helper.js')

  export default {
    name: 'landing-page',
    data () {
      return {


        formulario: {
          categorias: [],        
          categoria_seleccionada: null,
          ejercicio:"",
          esImagen: false,
          respuestas: []
        }
      }
    },
    components: { SystemInformation },
    methods: {
      reset ( ) {
        Object.assign( this.$data.formulario, {
          categorias: [],        
          categoria_seleccionada: null,
          ejercicio:"",
          esImagen: false,
          respuestas: []
        })
        
        this.nuevaRespuesta()

        sqlhelper.categorias.obtener().then( (categorias) => {
          this.$data.formulario.categorias = categorias
        })
        
      },

      open (link) {
        this.$electron.shell.openExternal(link)
      },
      nuevaRespuesta () {
        this.$data.formulario.respuestas.push( {dato:"", correcta: false} )
      },

      insertImage( imageBase64 ) {
        var formulario = this.$data.formulario
               
        formulario.esImagen = true
        formulario.ejercicio = imageBase64
      },

      loadAndInsertImage() {
        var images = dialog.showOpenDialog(
          { 
            filters:[
              { name: "Images", extensions: ["jpg"] }
            ],
            properties: ['openFile', 'multiSelections'] 
          }
        )

        if ( images == undefined || images.length <= 0 )
          return;        

        var imageAsBase64 = fs.readFileSync( images[0], 'base64')
        imageAsBase64 = "data:image/jpg;base64,"+imageAsBase64
        this.insertImage( imageAsBase64 )
      },

      reducirRespuestas () {
        this.$data.formulario.respuestas.pop()
      },

      onPaste(e){
        var self = this;
        // Handle the event
        helper.retrieveImageFromClipboardAsBase64(e, function(imageDataBase64){
            // If there's an image, open it in the browser as a new window :)
            if(imageDataBase64){
                // data:image/png;base64,iVBORw0KGgoAAAAN......
                // window.open(imageDataBase64);
                self.insertImage( imageDataBase64 )
            }
        });

      },
      
      guardarDatos () {
        var formulario = this.$data.formulario
        var respuestasVerdaderas = 0

        var problema = {
          ejercicio: formulario.ejercicio,
          respuesta_multiple: false,
          esImagen: formulario.esImagen,
          respuestas: formulario.respuestas,
          categoria_id: formulario.categoria_seleccionada
        }

        for (var respuesta of formulario.respuestas) {
          console.log(respuesta)
          if (respuesta.correcta)
            respuestasVerdaderas++

        }

        if ( respuestasVerdaderas == 0 ) {
          alert("Marque una respuesta correcta")
          return
        } else if ( respuestasVerdaderas > 1 ) {
          problema.respuesta = true
        }

        sqlhelper.problemas.insertar(problema)
        this.reset()
      }
      
    },
    mounted () {
      var self = this

      self.reset()

      ipcRenderer.on("post:image", function(event, data) {
        console.log(data)
        self.insertImage(data)
      })


    }
  }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body { font-family: 'Source Sans Pro', sans-serif; }
  textarea {
    width:100%;
    min-height:200px;
  }
  
  button {
    padding:8px 12px;
  }

  input[type="text"]{
    padding:3px 5px;
  }

  input[type="checkbox"]{
    padding:3px 5px;
  }

  img {
    max-width: 100%;
  }

  #logo {
    height: auto;
    margin-bottom: 20px;
    width: 420px;
  }
/*
  main {
    display: flex;
    justify-content: space-between;
  }

  main > div { flex-basis: 50%; }
*/
  .left-side {
    display: flex;
    flex-direction: column;
  }

  .welcome {
    color: #555;
    font-size: 23px;
    margin-bottom: 10px;
  }

  .title {
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .title.alt {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .doc p {
    color: black;
    margin-bottom: 10px;
  }

  .doc button {
    font-size: .8em;
    cursor: pointer;
    outline: none;
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
  }

  .doc button.alt {
    color: #42b983;
    background-color: transparent;
  }
</style>
