<template>
  <div id="nav">
    <template v-for="link of links">
      <div class="link">
        <router-link :to="link.url">{{link.nombre}}</router-link>
      </div>
    </template>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        links:[
          { url:"/", nombre:"Insertar" },
          { url:"/categorias", nombre:"Categorias" },
          { url:"/examen", nombre:"Test" },
        ]
      }
    }
  }
</script>

<style scoped>
  #nav {
    overflow:hidden;
    display:flex; 
    flex-direction: row;
    height:5vh
  }

  .link a {
    text-decoration:none;
    float:left;
    color:black;
    font-size:1em;
    margin:0;
  }

  .link {
    padding:10px;
  }

  .link {
    font-size:16px;
  }

  .link:hover {
    color:gray;
    background: lightgray;
  }

  .link:hover a {
    text-decoration:none;
  }
</style>