<template>
  <div id="app">
    <cNavigator></cNavigator>
    Database elegida {{ dbFilename }}
    <button @click="chooseDB()"> Elegir otra </button>
    <button @click="newDB()"> Nueva base de datos </button>

    <router-view v-if="!refreshing && initialized"></router-view>
  </div>
</template>

<script>
  const sqlhelper = require('../modules/sqlhelper.js')
  import cNavigator from '@/components/header/nav'


  var listenerAdded = false;

  export default {
    name: 'examensoft',

    components: {
      cNavigator
    },

    data() {
      return {
        dbFilename: "Not defined",
        fileListener: null,
        refreshing: false,
        initialized: false
      }
    },

    beforeDestroy() {
      sqlhelper.removeListener(  )
    },

    methods: {
        newDB () {
          sqlhelper.newDB()

          if ( sqlhelper.validState() ) {
            this.$data.initialized = true
            this.$data.dbFilename = sqlhelper.getDBFilename()
            this.reload()
          }
        },

        chooseDB () {
          sqlhelper.chooseDB()
           
          if ( sqlhelper.validState() ) {
            this.$data.initialized = true
            this.$data.dbFilename = sqlhelper.getDBFilename()

            this.reload()
          }
        },

        reload () {
            var location = this.$route.fullPath
            this.$data.refreshing = true
            this.$nextTick(() => this.$data.refreshing = false )
        }
    },
    mounted () {

    }
  }
</script>

<style>
  /* CSS */
    body{
      font-family: arial, helvetica;
    }
    #wrapper {
      background:
        radial-gradient(
          ellipse at top left,
          rgba(255, 255, 255, 1) 40%,
          rgba(229, 229, 229, .9) 100%
        );
      position:fixed;
      background-attachment:fixed;
      height: 100vh;
      width: 100vw;
    }
    #extender{
      padding: 60px 80px;
      width:100%;
      height:100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }
</style>
